<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title><%= site_name %><% if current_page.data.page_title %> - <%= current_page.data.page_title %><% end %></title>
		<% if current_page.data.page_description %>
		<meta name="description" content="<%= current_page.data.page_description %>">
		<% end %>
		<script>document.documentElement.className = 'js';</script>
		<%= inline_stylesheet '_homepage' if current_page.data.page_classes.include? 'page_home' %>
		<%= stylesheet_link_tag 'site' unless current_page.data.page_classes.include? 'page_home' %>
		<!--[if lt IE 9]>
		<%= javascript_include_tag 'ie' %>
		<![endif]-->
	</head>
	<body class="<% if current_page.data.section_class %> <%= current_page.data.section_class %><% end %><% if current_page.data.page_classes %> <%= current_page.data.page_classes %><% end %>">
		<script>document.body.className += ' menu_closed';</script>
		<nav class="a11y">
			<ul>
				<li><a href="#menu">Skip to main menu</a></li>
				<li><a href="#body">Skip to top</a></li>
			</ul>
		</nav>
		<header role="banner">
			<h1><a href="/"><%= site_name %></a></h1>
		</header>
		<nav role="navigation">
			<h2 id="menu_link">Menu</h2>
			<ul id="menu">
				<li><a href="/">Home</a></li>
			</ul>
		</nav>
		<hr>
		<main role="main">
			<%= yield %>
		</main>
		<hr>
		<footer role="contentinfo">
			<p>Built with love by <a href="https://abletech.nz">Abletech</a></p>
			<% if env_name == 'development' %>
			<p>Debugging</p>
			<ul>
				<li><a href="/__middleman/">Middleman Config</a></li>
			</ul>
			<% end %>
		</footer>
		<% if content_for?(:javascript) %>
			<%= yield_content :javascript %>
		<% end %>
		<script>
			window.addEventListener('load', function(){
				var s = document.createElement('script');
				s.async = 1;
				s.src = '<%= asset_path(:js, "site") %>';
				document.body.appendChild(s);
			});
		</script>
	</body>
</html>
