<!DOCTYPE html>
<%
	page_title = locals[:page_title] || current_page.data.page_title
	page_description = locals[:page_description] || current_page.data.page_description
	page_classes = locals[:page_classes] || current_page.data.page_classes
	section_class = locals[:section_class] || current_page.data.section_class
%>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<script>document.documentElement.className = 'js';</script>
		<title><%= site_name %><% if page_title %> - <%= page_title %><% end %></title>
		<%= partial 'partials/head_opengraph' %>
		<%= inline_stylesheet '_manifest_home' if page_classes.include? 'page_home' %>
		<%= stylesheet_link_tag 'manifest_site' unless page_classes.include? 'page_home' %>
	</head>
	<body id="top" class="<% if section_class %> <%= section_class %><% end %><% if page_classes %> <%= page_classes %><% end %>">
		<script>document.body.className += ' js_menu_closed';</script>
		<nav class="a11y">
			<ul>
				<li><a href="#menu">Skip to main menu</a></li>
				<li><a href="#content">Skip to content</a></li>
				<li><a href="#top">Skip to top</a></li>
			</ul>
		</nav>
		<header>
			<h1><a href="/"><%= site_name %></a></h1>
		</header>
		<nav>
			<h2 id="menu_link">Menu</h2>
			<ul id="menu">
				<% data.menu.each do |m| %>
				<li id="nav_<%= m[:id] %>"><a href="<%= m[:url] %>"><%= m[:label] %></a></li>
				<% end %>
			</ul>
		</nav>
		<main id="content">
			<%= yield %>
		</main>
		<footer>
			<p><small>Built with love by <a href="https://abletech.nz">Abletech</a></small></p>
			<% if env_name == 'development' %>
			<p>Debugging</p>
			<ul>
				<li><a href="/__middleman/">Middleman Config</a></li>
				<li><a href="/patterns/">Pattern Library</a></li>
			</ul>
			<% end %>
		</footer>
		<div id="menu_mask" class="mask"></div>
<script>
(function(d,w){
	var addScript = function(url){
		var s = d.createElement('script');
		s.src = url;
		d.body.appendChild(s);
	};
	<% if page_classes.include? 'page_home' %>
	var addLink = function(url, rel){
		var c = d.createElement('link');
		c.href = url;
		c.rel = rel;
		d.head.appendChild(c);
	};
	var prefetchAssets = function(){
		addLink('<%= asset_path(:css, "manifest_site") %>', 'prefetch');
	};
	w.addEventListener('load', prefetchAssets);
	<% end %>
	w.addEventListener('DOMContentLoaded', function(){
		addScript('<%= asset_path(:js, "manifest_site") %>');
	});
})(document,window);
</script>
		<% if content_for?(:javascript) %>
			<%= yield_content :javascript %>
		<% end %>
	</body>
</html>
