<!DOCTYPE html>
<%
	page_title = locals[:page_title] || current_page.data.page_title
	page_description = locals[:page_description] || current_page.data.page_description
	page_classes = locals[:page_classes] || current_page.data.page_classes
	section_class = locals[:section_class] || current_page.data.section_class
%>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<script>document.documentElement.className = 'js';</script>
		<title><%= site_name %><% if page_title %> - <%= page_title %><% end %></title>
		<meta property="og:site_name" content="<%= site_name %>">
    <% if page_title %>
    <meta property="og:title" content="<%= page_title %>">
    <% else %>
    <meta property="og:title" content="<%= site_name %>">
    <% end %>
    <meta property="og:image" content="<%= url_root %>/opengraph.png">
    <meta property="og:url" content="<%= url_root %><%= current_page.url %>">
    <meta property="og:type" content="website">
    <% if page_description %>
    <meta property="og:description" name="description" content="<%= page_description %>">
    <% end %>
		<%= inline_stylesheet '_homepage' if page_classes.include? 'page_home' %>
		<%= stylesheet_link_tag 'site' unless page_classes.include? 'page_home' %>
	</head>
	<body class="<% if section_class %> <%= section_class %><% end %><% if page_classes %> <%= page_classes %><% end %>">
		<script>document.body.className += ' js_menu_closed';</script>
		<nav class="a11y">
			<ul>
				<li><a href="#menu">Skip to main menu</a></li>
			</ul>
		</nav>
		<header role="banner">
			<h1><a href="/"><%= site_name %></a></h1>
		</header>
		<nav role="navigation">
			<h2 id="menu_link">Menu</h2>
			<ul id="menu">
				<li><a href="/">Home</a></li>
				<li><a href="/patterns">Pattern library</a></li>
			</ul>
		</nav>
		<main role="main">
			<%= yield %>
		</main>
		<footer role="contentinfo">
			<p>Built with love by <a href="https://abletech.nz">Abletech</a></p>
			<% if env_name == 'development' %>
			<p>Debugging</p>
			<ul>
				<li><a href="/__middleman/">Middleman Config</a></li>
			</ul>
			<% end %>
		</footer>
		<% if content_for?(:javascript) %>
			<%= yield_content :javascript %>
		<% end %>
		<script>
			window.onload = function(){
				var s = document.createElement('script');
				s.async = 1;
				s.src = '<%= asset_path(:js, "site") %>';
				document.body.appendChild(s);
			}
		</script>
	</body>
</html>
