<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= "#{current_page.data.title} - " if current_page.data.title %><%= config[:site_name] %></title>
    <%= stylesheet_link_tag "site" %>
    <%= partial "layouts/opengraph" %>
    <%= partial "layouts/prefetch_domains" %>
    <link rel="manifest" href="/manifest.json">
  </head>
  <body id="top" class="<%= page_classes %>">
    <%= yield %>
  </body>
  <%= javascript_include_tag "site" %>
</html>
